<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="redirectToUIAppendName" value="RedirectToUI"/>
    <add key="protectAppPath" value="Protect\UtilZ.Dotnet.SHPAgentProtect.exe"/>

    <!--启动时显示状态,true:显示false:隐藏-->
    <add key="startShowStatus" value="true"/>
  </appSettings>
</configuration>