<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBConfig" type="UtilZ.Lib.DBModel.Config.DBConfigSection,UtilZ.Lib.DBModel"/>
  </configSections>

  <DBConfig>
    <DBItems>
      <add DBID="1"
           ConName="SQLiteDB"
           DBConInfoType="1"
           DatabaseName="DB\DB2.sqlite"
           DBFactory="UtilZ.Lib.DBSqlite.Core.SQLiteDBFactory,UtilZ.Lib.DBSqlite"/>

      <!--<add DBID="2"
           ConName="SqlServerDB"
           DBConInfoType="0"
           ConStr="data source=192.168.2.55;initial catalog=ntestdb;user id=dbuser;password=qweQWE123"
           DBFactory="Utilities.Lib.DBSQLServer.Core.SQLServerDBFactory,Utilities.Lib.DBSQLServer"/>-->

      <add DBID="3"
           ConName="MysqlDB"
           DBConInfoType="1"
           Host="127.0.0.1"
           DatabaseName="ztestdb"
           Account="yf"
           Password="qwe123"
           DBFactory="UtilZ.Lib.DBMySql.Core.MysqlDBFactory,UtilZ.Lib.DBMySql"/>

      <!--<add DBID="4"
          ConName="OracleDB"
          DBConInfoType="1"
          Host="192.168.2.55"
          DatabaseName="ntestdb.org"
          Account="DBUSER"
          Password="qweQWE123"
          DBFactory="Utilities.Lib.DBOracle.Core.OracleDBFactory,Utilities.Lib.DBOracle"/>-->
    </DBItems>
  </DBConfig>
</configuration>