<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBConfig" type="UtilZ.Dotnet.Ex.DataBaseAccess.DBModel.Config.DBConfigSection,UtilZ.Dotnet.Ex"/>
    <section name="logConfigSection" type="UtilZ.Dotnet.Ex.Log.Config.Core.LogConfigSection,UtilZ.Dotnet.Ex, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <DBConfig>
    <DBItems>
      <add DBID="1"
           ConName="SQLiteDB"
           DBConInfoType="1"
           DatabaseName="DB\DB2.sqlite"
           DBFactory="UtilZ.Dotnet.DBSqlite.Core.SQLiteDBFactory,UtilZ.Dotnet.DBSqlite"/>

      <add DBID="2"
           ConName="SqlServerDB"
           DBConInfoType="0"
           ConStr="data source=192.168.0.101;initial catalog=ntestdb;user id=sa;password=qweQWE123"
           DBFactory="UtilZ.Dotnet.DBSQLServer.Core.SQLServerDBFactory,UtilZ.Dotnet.DBSQLServer"/>

      <add DBID="3"
           ConName="MysqlDB"
           DBConInfoType="1"
           Host="192.168.0.101"
           DatabaseName="test"
           Account="yf"
           Password="qweQWE123"
           DBFactory="UtilZ.Dotnet.DBMySql.Core.MysqlDBFactory,UtilZ.Dotnet.DBMySql"/>

      <add DBID="4"
          ConName="OracleDB"
          DBConInfoType="1"
          Host="192.168.0.101"
          DatabaseName="ntestdb.org"
          Account="DBUSER"
          Password="qweQWE123"
          DBFactory="UtilZ.Dotnet.DBOracle.Core.OracleDBFactory,UtilZ.Dotnet.DBOracle"/>
    </DBItems>
  </DBConfig>

  <!--<logConfigSection Level="Error"
                  EnablePluginModel="false"
                  LogType="UtilZ.Dotnet.ILEx.LogExtend.Log4,UtilZ.Dotnet.ILEx, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                  ConfigFilePath="log4net.cfg.xml">
  </logConfigSection>-->

  <logConfigSection Level="Debug"
                  LogRecorderType="UtilZ.Dotnet.Ex.Log.Core.XLog,UtilZ.Dotnet.Ex, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <SystemLogConfig>
      <!--<add Name="系统日志"
           Days="10"
           LogFileSize="20"/>
      <add Name="系统日志Plugin1"
         Days="10"
         ModuleType="Plugin1.Plugin1Form,Plugins\Plugin1\Plugin1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
         LogFileSize="2"/>

      <add Name="系统日志Plugin2"
           ModuleType="Plugin2.Plugin2Form,Plugins\Plugin2\Plugin2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           LogFileSize="3"/>

      <add Name="系统日志Plugin3"
           ModuleType="Plugin3.Plugin3Form,Plugins\Plugin3\Plugin3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           LogFileSize="4"/>-->
    </SystemLogConfig>

    <DatabaseLogConfig>
      <!--<add Name="OracleDefault"
           TableName="TestLOG"
           ConnectionType="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           ConnectionString="User Id=userwq21210;Password=123456;Data Source=192.168.0.10:1521/daojiao"/>

      <add Name="OraclePlugin1"
           TableName="TestLOG1"
           ModuleType="Plugin1.Plugin1Form,Plugins\Plugin1\Plugin1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           ConnectionType="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           ConnectionString="User Id=userwq21210;Password=123456;Data Source=192.168.0.10:1521/daojiao"/>

      <add Name="OraclePlugin2"
           TableName="TestLOG2"
           ModuleType="Plugin2.Plugin2Form,Plugins\Plugin2\Plugin2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           ConnectionType="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           ConnectionString="User Id=userwq21210;Password=123456;Data Source=192.168.0.10:1521/daojiao"/>

      <add Name="OraclePlugin3"
           TableName="TestLOG3"
           ModuleType="Plugin3.Plugin3Form,Plugins\Plugin3\Plugin3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           ConnectionType="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           ConnectionString="User Id=userwq21210;Password=123456;Data Source=192.168.0.10:1521/daojiao"/>

      <add Name="SQLite"
           IsUseDBID="false"
           TableName="TestLOG"
           ConnectionType="System.Data.SQLite.SQLiteConnection,System.Data.SQLite, Version=1.0.97.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           ConnectionString="Data Source=E:\HSoft\DataBase\SQLite\test.sqlite"/>

      <add Name="MySql"
           IsUseDBID="false"
           TableName="TestLOG"
           ConnectionType="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.8.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
           ConnectionString="database=testdb;data source=192.168.0.250;Port=3306;user id=root;password=xtaITXwwx982+-"/>

      <add Name="SQLServer"
           IsUseDBID="false"
           TableName="TestLOG"
           ConnectionType="System.Data.SqlClient.SqlConnection"
           ConnectionString="database=TestDB;data source=192.168.0.250;user id=sa;password=xtaITXwwx982+-"/>-->
    </DatabaseLogConfig>

    <FileLogConfig>
      <add Name=""
           Days="12"
           LogFileSize="1"
           LogDirectory="Log"/>
      <add Name="LogFileAppender1"
          Days="12"
          LogFileSize="1"
          LogDirectory="Log\Appender1"/>
    </FileLogConfig>
  </logConfigSection>
</configuration>