<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBConfig" type="UtilZ.Lib.DBModel.Config.DBConfigSection,UtilZ.Lib.DBModel"/>
  </configSections>

  <DBConfig>
    <DBItems>
      <add DBID="1"
           ConName="SQLiteDB"
           DBConInfoType="1"
           DatabaseName="F:\Projects\Zhanghn\UtilZ\TestUtilZDB\bin\Debug\DB\DB2.sqlite"
           DBFactory="UtilZ.Lib.DBSqlite.Core.SQLiteDBFactory,UtilZ.Lib.DBSqlite"/>
    </DBItems>
  </DBConfig>
</configuration>